body {
    font-family: Manrope, Roboto, sans-serif;
    background: #ccf5e7;
    background: #f6fbff;
    background: #f5f2ff;
    background: black;
    background: #1d0f54;
    //background: white;
    color: white;
}

input {
    font-family: Manrope, Roboto, sans-serif;
    outline: none;
    border: none;
}

::selection{
    background: black;
    color: white;
}


*:focus {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

textarea {
    outline: none;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: Manrope, Roboto, sans-serif;
}

::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-thumb{
    background: rgba(black, 0.5);
}

canvas{
    //background: white;
    //transition: 0.1s ease;
    background: rgba(white, 0.05);
    &.active{
        border: 1px solid #00f7ff;
    }
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.c1{
    background: #0074d9;
}
.c2{
    background: #ff4126;
}
.c3{
    background: #2ecc40;
}
.c4{
    background: #ffdc00;
}
.c5{
    background: #aaaaaa;
}
.c6{
    background: #ef11be;
}
.c7{
    background: #ff841a;
}
.c8{
    background: #7fdbff;
}
.c0{
    background: black;
}
.c9{
    background: white;
}


@media screen and (min-width: 800px){

    button{
        padding: 0.2vw;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        color: white;
        border-radius: 0.3vw;
        transition: 0.2s ease;
        font-size: 12px;
        background: rgba(#0074ff, 0.5);
        &:hover{
            background: rgba(#0074ff, 0.7);

        }
        &.del{
            background: rgba(red, 0.5);
            &:hover{
                background: rgba(red, 0.7);
            }
        }
        &.ac{
            background: rgba(white, 0);
            color: white;
            border: 1px solid rgba(white, 0.5);
            font-weight: 300;
            &:hover{
                background: rgba(white, 0.2);
            }
        }
    }

    #splash{
        background: white;
        position: fixed;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease;
        transform: scale(2);
        opacity: 0;
        visibility: hidden;

        &.active{
            transform: scale(1);
            visibility: visible;
            opacity: 1;
        }

        h1{
            font-size: 80px;
            font-weight: 900;
            padding: 15px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 15px;
            margin: 0;
            span{
                font-weight: 200;
            }
        }

        #start{
            font-size: 20px;
            padding: 6px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 40px;
            margin-bottom: 100px;
        }

        #footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 250px;
            height: 70px;
            left: calc(50vw - 125px);
            bottom: 30px;
            //background: rgba(black, 0.05);
            border: 1px solid rgba(black, 0.5);
            border-radius: 15px;
            h2 {
                color: rgba(black, 0.8);
                font-size: 16px;
                font-weight: 300;
                margin: 5px;

            }
            h3 {
                color: rgba(black, 0.5);
                font-size: 14px;
                font-weight: 300;
                margin: 0;
            }
        }
    }

    #navbar{
        position: fixed;
        top: 15px;
        left: 15px;
        width: 165px;
        height: calc(100vh - 30px);
        background: #ccf5e7;
        background: #1d0f54;
        //background: rgba(white, 0.7);
        //border: 1px solid black;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;

        #mast{
            background: rgba(white, 0.1);
            width: 140px;
            height: 40px;
            margin: 10px;
            margin-top: 13px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 18px;
                margin-right: 5px;
            }
            h1{
                font-size: 16px;
                font-weight: 900;
                margin: 0;
                letter-spacing: 0.5px;
                //color: black;
                span{
                    font-weight: 100;
                }
            }
        }

        #id{
            font-size: 14px;
            width: 140px;
            height: 35px;
            background: rgba(black, 1);
            border-radius: 10px;
            text-align: center;
            line-height: 33px;
            margin: 10px;
            margin-bottom: 15px;
            font-weight: 300;
            letter-spacing: 1px;
            color: #ffce00;
            transition: 0.2s ease;
            &:hover{
                font-weight: 600;
            }
        }

        #log{
            font-size: 11px;
            flex: 1;
            width: 150px;
            border-radius: 10px;
            padding: 1vw;
            font-weight: 300;
            letter-spacing: 1px;
            margin: 0;
            span{
                font-weight: 900;
            }
        }

        #menu{
            position: absolute;
            background: rgba(black, 1);
            backdrop-filter: blur(5px);
            bottom: 45px;
            left: 13px;
            width: 140px;
            border-radius: 10px 10px 0 0;
            overflow-y: scroll;
            transition: 0.2s ease;
            height: 0px;
            p{
                text-align: center;
                font-size: 13px;
                letter-spacing: 1px;
                padding: 5px;
                margin: 5px;
                border-radius: 20px;
                &:hover{
                    cursor: pointer;
                    background: rgba(white, 0.2);
                }
            }
            &.active{
                padding-bottom: 10px;
                height: calc(300px);
            }
        }
    }

    #main{
        position: fixed;
        top: 0;
        left: 10vw;
        width: 90vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        #area{
            //background: white;
            width: 100vw;
            height: 60vw;
            border-radius: 1.5vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .row{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &.left{
            align-items: flex-start;
        }
        &.right{
            align-items: flex-end;
        }
    }

    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0.5vw;
        margin-top: 8vw;
        .link-btn{
            margin-top: 1vw;
            background: rgba(#0074ff, 0.2);
            color: #00b7ff;
            span{
                font-size: 16px;
            }
            &:hover{
                background: rgba(#0074ff, 0.4);
            }
            &.del{
                background: rgba(red, 0.2);
                color: red;
                &:hover{
                    background: rgba(red, 0.4);
                }
            }
        }
    }

    #row{
        display: flex;
        width: fit-content;
        max-width: 95%;
        overflow-x: scroll;
        margin-top: 2vw;
        background: rgba(black, 0.05);
        border-radius: 1vw;
        .prob{
            display: flex;
            justify-content: center;
            margin: 0.3vw;
            padding: 0.1vw;
            border-radius: 0.8vw;
            cursor: pointer;
            .canv{
                width: 4vw;
                height: 4vw;
                margin: 0.2vw;
                border-radius: 0.5vw;
            }
            &.active{
                background: rgba(#00f7ff, 0.1);
                .canv{
                    border: 1px solid #00f7ff;
                }
            }
        }
    }

    #ink{
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 2px solid white;
        z-index: 2;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        transform: translate(-10px,-10px);
        &.active{
            display: block;
        }
    }

    .layer{
        display: none;
        //padding: 0.5vw;
        border-radius: 1vw;
        border: 1px solid rgba(white, 0.2);
        background: rgba(white, 0.02);
        padding: 0.5vw;

        &.active{
            display: flex;
        }
        .title{
            text-align: center;
            font-size: 13px;
            font-weight: 300;
            background: rgba(black, 0.2);
            padding: 0.5vw;
            border-radius: 0.5vw;
            margin-top: 0.2vw;
            letter-spacing: 0.5px;
        }
        .box{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0.5vw;
            .panorama{
                display: flex;
                flex-direction: column;
                align-items: center;
                .flex{
                    align-items: center;
                    canvas {
                        width: 18vw;
                        height: 18vw;
                        margin: 0.5vw;
                        border-radius: 0.5vw;
                    }
                }
            }
            .exp{
                .exp-btn{
                    text-align: center;
                    height: 1.5vw;
                    font-size: 1.2vw;
                    line-height: 1vw;
                    border-radius: 1vw;
                    background: rgba(black, 0.05);
                    font-weight: 300;
                    color: rgba(black, 0.6);

                    &.plu{
                        color: #00b3ff;
                        background: rgba(#0074ff, 0.1);
                        &:hover{
                            background: rgba(#0074ff, 0.3);
                        }
                    }
                    &.min{
                        color: #ff4946;
                        background: rgba(red, 0.15);
                        &:hover{
                            background: rgba(red, 0.3);
                        }
                    }
                    &:hover{
                        background: rgba(black, 0.15);
                    }
                }
                p{
                    font-size: 14px;
                    width: 1vw;
                    margin: 0;
                    text-align: center;
                    border-radius: 0.5vw;
                }

                &.v{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    p{
                        margin-top: 0.5vw;
                        margin-bottom: 0.5vw;
                    }
                }
                &.h{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        margin-left: 0.5vw;
                        margin-right: 0.5vw;
                    }
                }
            }
        }
        .toolbar{
            background: rgba(black, 0.2);
            padding: 0.5vw;
            border-radius: 0.5vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .colors{
                margin-left: 0.5vw;
                display: flex;
                align-items: center;
                .color{
                    width: 1.3vw;
                    height: 1.3vw;
                    margin: 0.2vw;
                    border-radius: 1vw;
                    transition: 0.1s ease;
                    cursor: pointer;
                    border: 1px solid rgba(white, 0.4);
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    &:hover{
                        transform: scale(1.2);
                    }
                    &.active{
                        border: 2px solid white;
                    }
                }
                img{
                    width: 100%;
                    border: 1px solid red;
                    border-radius: 1vw;
                }
            }
        }



        @keyframes pending {
            0% {
                border: 2px solid #a0cbff;
                transform: scale(1);
            }
            100%{
                border: 2px solid #0074ff;
                transform: scale(1.05);
            }
        }
        .bar{
        }
        .items{
            width: 11.7vw;
            height: 28vw;
            overflow-y: scroll;
            overflow-x: hidden;
            background: rgba(black, 0.2);
            margin: 0.5vw;
            padding: 0.5vw;
            position: relative;
            border: 1px solid rgba(black, 0.3);
            border-radius: 0.7vw;
            display: flex;
            flex-direction: column;
            align-items: center;

            .group{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 10.2vw;
                padding: 0.2vw;
                background: rgba(black, 0.1);
                border-radius: 0.5vw;
                margin: 0.2vw;
                margin-bottom: 0.5vw;
                .shelf{
                    //border: 1px solid blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    .item{
                        width: 4.5vw;
                        height: 4.5vw;
                        border-radius: 0.4vw;
                        margin: 0.2vw;
                        background: rgba(white, 0.1);
                        cursor: pointer;
                        &.pending{
                            animation: 0.4s pending alternate infinite;
                        }
                    }
                    .group_add{
                        width: 3vw;
                        height: 3vw;
                        line-height: 3vw;
                        border-radius: 0.4vw;
                        margin: 0.8vw;
                        text-align: center;
                        background: rgba(#0074ff, 0.2);
                        font-size: 30px;
                        font-weight: 200;
                        color: #00b7ff;
                        cursor: pointer;
                        transition: 0.1s ease;
                        &:hover{
                            background: rgba(#0074ff, 0.3);
                        }
                    }
                }
            }
            .label{
                background: none;
                margin: 0.2vw;
                text-align: center;
                font-size: 12px;
                width: 8vw;
                border-radius: 0.4vw;
                padding: 0.2vw;
                color: white;
                letter-spacing: 0.5px;
            }
        }
        .buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 0.3vw;
            padding-bottom: 0.3vw;
            margin-bottom: 0.5vw;

            button {
                margin: 0.2vw;
            }
        }
    }

    .square{
        width: 7vw;
        height: 7vw;
        margin: 0.5vw;
        margin: 0;
        border-radius: 0.5vw;
    }

    .previews{
        margin-bottom: 2vw;
        //border-bottom: 1px solid white;
    }

    .preview{
        width: 6vw;
        height: 6vw;
        margin: 0;
        margin-left: 1vw;
        margin-right: 1vw;
        border-radius: 0.5vw;
        border: 1px solid #00ff77;
        &.incorrect{
            border: 1px solid #ff4040;
        }
    }

    .thumbnails{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1vw;

        canvas{
            width: 4vw;
            height: 4vw;
            border-radius: 0.5vw;
            margin: 0.3vw;
            cursor: pointer;
        }
        .buttons{
            margin-top: 0.5vw;
            justify-content: center;
        }
    }

    #download{
        position: fixed;
        bottom: 40px;
        right: 40px;
        display: flex;
        align-items: center;
        background: #8400ff;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
        z-index: 3;
        transition: 0.2s ease;

        box-shadow: 0px 5px 10px rgba(black, 0.2);
        span{
            font-size: 18px;
            margin-right: 5px;
            margin-left: -2px;
        }
        h1{
            color: black;
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            color: white;
        }
        &:hover{
            background: #6600c6;
            transform: scale(1.05);
        }
    }

}





.light{
    background: #eeeaff;

    button{
        background: #0074ff;
        &:hover{
            background: #0015ff;
        }
        &.del{
            background: #ff0000;
            &:hover{
                background: #d31111;
            }
        }
    }
    #navbar{
        background: none;
        color: black;
        #mast{
            color: black;
            background: white;
        }
        #id{
            color: black;
            font-weight: 600;
            background: rgba(white, 0.5);
        }
    }
    canvas{
        background: rgba(white, 0.4);
        &.active{
            border: 2px solid red;
        }
    }
    #row{
        .prob{
            &.active{
                background: rgba(red, 0.3);
                .canv{
                    border: 2px solid red;
                }
            }
        }
    }
    .links{
        .link-btn{

        }
        #link{
            color: #0074ff;
        }
    }
    .ac{
        color: red;
        border: 1px solid red;
        font-weight: 700;
        background: white;
        &:hover{
            background: rgba(red, 0.1);
        }
    }
    .layer{
        .box{
            .title{
                color: black;
                background: rgba(black, 0.08);
            }
            .exp{
                .exp-btn{
                    //color: black;
                    font-weight: 700;
                    &.plu{
                        //background: rgba(#0074ff, 0.2);
                        color: #0074ff;
                    }
                    &.min{
                        color: red;
                    }
                }
                color: black;
            }
        }
        .items{
            background-color: white;
            .group{
                background: #e6ebf1;
                .shelf{
                    .group_add{
                        background: #b7d8ff;
                        color: #0074ff;
                        &:hover{
                            background: #a0cbff;
                        }
                    }
                }
                .label{
                    color: black;
                }
            }
            .item{
            }
        }
    }

    .exp-btn{
        &.plu{

        }
        color: black;
    }
}





// Loading

#loading{
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    //background: rgba(black, 0.05);
    margin-bottom: 50px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 40px;
}

.lds-ellipsis div {
    position: absolute;
    top: 15px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: black;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    -webkit-animation: lds-ellipsis1 0.6s infinite;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    -webkit-animation: lds-ellipsis2 0.6s infinite;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    -webkit-animation: lds-ellipsis2 0.6s infinite;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    -webkit-animation: lds-ellipsis3 0.6s infinite;
    animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes lds-ellipsis1 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes lds-ellipsis3 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes lds-ellipsis2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(24px, 0);
        transform: translate(24px, 0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(24px, 0);
        transform: translate(24px, 0);
    }
}