body {
    font-family: Manrope, Roboto, sans-serif;
    background: #ccf5e7;
    background: #f6fbff;
    background: #f5f2ff;
    background: #0f0a1e;
    //background: white;
    color: white;
    touch-action: none;
}

input {
    font-family: Manrope, Roboto, sans-serif;
    outline: none;
    border: none;
}

select {
    font-family: Manrope, Roboto, sans-serif;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

::selection{
    background: #ffce00;
    color: black;
}


*:focus {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

textarea {
    outline: none;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: Manrope, Roboto, sans-serif;
}

::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-thumb{
    background: rgba(white, 0.2);
}

canvas{
    //background: white;
    //transition: 0.1s ease;
    background: rgba(white, 0.05);
    &.linked{
        border: 1px solid #aa6aff;
    }
    &.active{
        border: 1px solid #00f7ff;
    }
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.c1{
    background: #0074d9;
}
.c2{
    background: #ff4126;
}
.c3{
    background: #2ecc40;
}
.c4{
    background: #ffdc00;
}
.c5{
    background: #aaaaaa;
}
.c6{
    background: #ef11be;
}
.c7{
    background: #ff841a;
}
.c8{
    background: #7fdbff;
}
.c9{
    background: #7c1c28;
}
.c0{
    background: black;
}
.c10{
    background: white;
}


$red: #fa1b4f;
$red2: #c90909;
$blue: #0074ff;
$blue2: #0048e4;

@media screen and (min-width: 800px){

    button{
        padding: 0.2vw;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        color: white;
        border-radius: 0.4vw;
        transition: 0.2s ease;
        font-size: 12px;
        background: #0074ff;
        display: flex;
        align-items: center;
        justify-content: center;
        .material{
            font-size: 15px;
            margin-left: -2px;
            margin-right: 3px;
        }
        &:hover{
            background: #0048e4;

        }
        &.del{
            background: #fa1b4f;
            &:hover{
                background: #c90909;
            }
        }
        &.ac{
            background: rgba(white, 0.2);
            color: white;
            //border: 1px solid rgba(white, 0.5);
            font-weight: 300;
            &:hover{
                background: rgba(white, 0.1);
            }
        }
    }

    #splash{
        background: white;
        position: fixed;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease;
        transform: scale(2);
        opacity: 0;
        visibility: hidden;

        &.active{
            transform: scale(1);
            visibility: visible;
            opacity: 1;
        }

        h1{
            font-size: 80px;
            font-weight: 900;
            padding: 15px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 15px;
            margin: 0;
            span{
                font-weight: 200;
            }
        }

        #start{
            font-size: 20px;
            padding: 6px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 40px;
            margin-bottom: 100px;
        }

        #footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 250px;
            height: 70px;
            left: calc(50vw - 125px);
            bottom: 30px;
            //background: rgba(black, 0.05);
            border: 1px solid rgba(black, 0.5);
            border-radius: 15px;
            h2 {
                color: rgba(black, 0.8);
                font-size: 16px;
                font-weight: 300;
                margin: 5px;

            }
            h3 {
                color: rgba(black, 0.5);
                font-size: 14px;
                font-weight: 300;
                margin: 0;
            }
        }
    }

    #navbar{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 170px;
        height: 100vh;
        background: #ccf5e7;
        background: #150f28;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;

        #lab{
            width: 170px;
            //background: rgba(white, 0.05);
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 0px;
        }

        #mast{
            //background: rgba(white, 0.05);
            width: 140px;
            height: 45px;
            //margin: 10px;
            margin-top: 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            //justify-content: center;
            img{
                width: 22px;
                margin-right: 8px;
                margin-top: 1px;
            }
            h1{
                font-size: 18px;
                font-weight: 700;
                margin: 0;
                letter-spacing: 0.5px;
                //color: black;
                span{
                    //font-weight: 100;
                    color: rgba(white, 0.6);
                }
            }
        }

        #log{
            flex: 1;

            width: 160px;
            padding: 10px;
            padding-right: 15px;
            font-weight: 300;
            margin: 0;
            margin-top: 5px;
            overflow-y: scroll;

            h3{
                margin: 0;
                margin-bottom: 8px;
                color: rgba(white, 0.7);
                letter-spacing: 0.4px;
                font-size: 12px;
                font-weight: 600;
            }
            p{
                margin: 0;
                margin-bottom: 25px;
                line-height: 145%;
                font-size: 11px;
                letter-spacing: 0.5px;
                color: rgba(white, 0.5);
                span{
                    color: rgba(white, 0.7);
                }
            }
        }
    }

    #id{
        position: fixed;
        top: 10px;
        right: 5px;
        font-size: 14px;
        width: 150px;
        height: 35px;
        background: #2f2f2f;
        border-radius: 5px;
        text-align: center;
        line-height: 33px;
        margin: 10px;
        font-weight: 300;
        letter-spacing: 1px;
        color: #ffce00;
        transition: 0.2s ease;
        &:hover{
            font-weight: 600;
        }
    }

    #menu{
        position: fixed;
        top: 55px;
        right: 15px;

        background: #2f2f2f;
        backdrop-filter: blur(5px);
        width: 150px;
        border-radius: 0 0 5px 5px;
        overflow-y: scroll;
        transition: 0.2s ease;
        height: 0px;
        box-shadow: 0 20px 40px rgba(black, 0.5);
        p{
           // text-align: center;
            font-size: 12px;
            letter-spacing: 1px;
            padding: 5px;
            margin: 5px;
            border-radius: 20px;
            span{
                font-size: 11px;
                background: rgba(#ffce00, 0.2);
                padding: 5px;
                margin-right: 10px;
                border-radius: 3px;
                color: #ffce00;
                font-weight: 100;
            }
            &:hover{
                cursor: pointer;
                background: rgba(white, 0.2);
            }
        }
        &.active{
            padding-bottom: 10px;
            height: calc(300px);
        }
    }


    .b{
        position: relative;
    }


    .json{
        display: flex;
        align-items: center;
        margin-top: 1vw;
        button{
            height: 2.5vw;
            width: 4vw;
            border-radius: 0.5vw;
        }
        .results{
            height: 2.5vw;
            border-radius: 0.5vw;
            width: 33vw;
            margin-right: 0.5vw;
            padding-left: 0.3vw;
            background: rgba(white, 0.1);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            overflow-x: scroll;
            overflow-y: hidden;
            .res{
                width: 2vw;
                height: 2vw;
                background: rgba(white, 0.2);
                text-align: center;
                line-height: 2vw;
                margin: 0.3vw;
                font-size: 14px;
                border-radius: .3vw;
                transition: 0.2s ease;
                cursor: pointer;
                &:hover{
                    background: rgba(white, 0.3);
                }
            }
        }
    }



    .it{
        visibility: hidden;
        opacity: 0;
        background: rgba(black, 0.7);
        position: absolute;
        bottom: 0;
        left: 0;

        border-radius: 10px;
        z-index: 5;
        overflow-y: hidden;
        transition: 0.2s ease;
        overflow: hidden;
        width: 37.5vw;
        height: 400px;

        backdrop-filter: blur(25px);

        transform: translateY(100px);

        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            transition: 0.2s ease;
            cursor: move;
            h1{
                width: 4vw;
                text-align: center;
                font-size: 12px;
                letter-spacing: 0.5px;
                font-weight: 300;
                margin: 0;
                padding: 0;
                transition: 0.2s ease;
            }

            span{
                font-size: 20px;
                margin-right: 10px;
            }

            &:hover{
                background: rgba(white, 0.1);
            }
        }
        textarea{
            font-family: 'Source Code Pro', Manrope, sans-serif;
            width: 100%;
            height: 280px;
            padding: 15px;
            margin: auto;
            background: none;
            overflow-y: scroll;
            resize: none;
            color: #00ff77;
            outline: none;
            border: none;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 0.5px;
        }

        button{
            position: absolute;
            bottom: 35px;
            left: 5%;
            height: 36px;
            width: 90%;
            background: #0074ff;
            border-radius: 0.5vw;
            line-height: 60%;
            &:hover{
                background: #0048ff;
            }
        }

        .bar{
            position: absolute;
            bottom: 15px;
            left: 40%;
            height: 5px;
            width: 20%;
            margin: 0;
            background: rgba(black, 0.1);
        }

        &.active{
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }


    #main{
        position: fixed;
        top: 0;
        left: 10vw;
        width: 90vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        #area{
            //background: white;
            width: 100vw;
            height: 60vw;
            border-radius: 1.5vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .row{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &.left{
            align-items: flex-start;
        }
        &.right{
            align-items: flex-end;
        }
    }

    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0.5vw;
        margin-top: 8vw;
        .link-btn{
            margin-top: 1vw;
            background: rgba(#0074ff, 0.2);
            color: #00b7ff;
            span{
                font-size: 16px;
            }
            &:hover{
                background: rgba(#0074ff, 0.4);
            }
            &.del{
                background: rgba(red, 0.2);
                color: red;
                &:hover{
                    background: rgba(red, 0.4);
                }
            }
        }
    }

    #row{
        display: flex;
        width: fit-content;
        max-width: 95%;
        overflow-x: scroll;
        margin-top: 2vw;
        background: rgba(black, 0.05);
        border-radius: 1vw;
        .prob{
            display: flex;
            justify-content: center;
            margin: 0.3vw;
            padding: 0.1vw;
            border-radius: 0.8vw;
            cursor: pointer;
            .canv{
                width: 4vw;
                height: 4vw;
                margin: 0.2vw;
                border-radius: 0.5vw;
            }
            &.active{
                background: rgba(#00f7ff, 0.1);
                .canv{
                    border: 1px solid #00f7ff;
                }
            }
        }
    }

    #ink{
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 2px solid white;
        z-index: 2;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        transform: translate(-10px,-10px);
        &.active{
            display: block;
        }
    }

    .layer{
        display: none;
        //padding: 0.5vw;
        border-radius: 1vw;
        background: rgba(white, 0.12);
        padding: 0.5vw;

        &.active{
            display: flex;
        }
        .title{
            text-align: center;
            font-size: 13px;
            font-weight: 300;
            background: rgba(black, 0.2);
            padding: 0.5vw;
            border-radius: 0.5vw;
            margin-top: 0.2vw;
            letter-spacing: 0.5px;
        }
        .box{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0.5vw;
            .panorama{
                display: flex;
                flex-direction: column;
                align-items: center;
                .flex{
                    align-items: center;
                    canvas {
                        width: 18vw;
                        height: 18vw;
                        margin: 0.5vw;
                        border-radius: 0.5vw;
                        //background: none;
                        box-shadow: 0 30px 30px rgba(black, 0.3);
                    }
                }
            }
            .exp{
                background: rgba(black, 0.2);
                border-radius: 10px;
                .exp-btn{
                    text-align: center;
                    height: 1.5vw;
                    font-size: 1.2vw;
                    line-height: 1vw;
                    border-radius: 1vw;
                    background: rgba(black, 0.05);
                    font-weight: 300;
                    color: rgba(black, 0.6);

                    &.plu{
                        color: #00b3ff;
                        //background: rgba(#0074ff, 0.1);
                        &:hover{
                            background: rgba(#0074ff, 0.3);
                        }
                    }
                    &.min{
                        color: #ff4946;
                        //background: rgba(red, 0.15);
                        &:hover{
                            background: rgba(red, 0.3);
                        }
                    }
                    &:hover{
                        background: rgba(black, 0.15);
                    }
                }
                p{
                    font-size: 12px;
                    width: 1vw;
                    margin: 0;
                    text-align: center;
                    border-radius: 0.5vw;
                }

                &.v{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    p{
                        margin-top: 0.2vw;
                        margin-bottom: 0.2vw;
                    }
                }
                &.h{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        margin-left: 0.2vw;
                        margin-right: 0.2vw;
                    }
                }
            }
        }
        .toolbar{
            background: rgba(black, 0.2);
            padding: 0.5vw;
            border-radius: 0.5vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .colors{
                margin-left: 0.6vw;
                display: flex;
                align-items: center;
                .color{
                    width: 1.2vw;
                    height: 1.2vw;
                    margin: 0.2vw;
                    border-radius: 1vw;
                    transition: 0.1s ease;
                    cursor: pointer;
                    border: 1px solid rgba(white, 0.2);
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    &:hover{
                        transform: scale(1.2);
                    }
                    &.active{
                        border: 2px solid white;
                    }
                }
                img{
                    width: 100%;
                    border: 1px solid red;
                    border-radius: 1vw;
                }
            }
        }

        @keyframes pending {
            0% {
                border: 2px solid #a0cbff;
                transform: scale(1);
            }
            100%{
                border: 2px solid #0074ff;
                transform: scale(1.05);
            }
        }
        .bar{
        }
        .items{
            width: 11.7vw;
            height: 28vw;
            overflow-y: scroll;
            overflow-x: hidden;
            background: rgba(black, 0.05);
            margin: 0.7vw;
            padding: 0.5vw;
            padding-top: 0;
            padding-bottom: 0;
            position: relative;
            border-radius: 0.7vw;
            display: flex;
            flex-direction: column;
            align-items: center;

            .group{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 10.8vw;
                padding: 0.5vw;
                padding-bottom: 0.3vw;
               //border-bottom: 1px solid rgba(white, 0.3);
               // border-radius: 0.5vw;
                background: rgba(black, 0.2);
                margin: 0.3vw;
                margin-bottom: 0.3vw;
                border-radius: 0.5vw;
                .shelf{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    .elem{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .select{
                            width: 4.5vw;
                            margin-bottom: 2px;
                            padding: 2px;
                            background: none;
                            color: rgba(white, 0.5);
                            letter-spacing: 0.5px;
                            text-align: center;
                            font-size: 10px;
                            transition: 0.2s ease;
                            border-radius: 10px;
                            cursor: pointer;
                            &:hover{
                                background: rgba(white, 0.1);
                            }
                        }
                    }
                    .item{
                        width: 4.5vw;
                        height: 4.5vw;
                        border-radius: 0.4vw;
                        margin: 0.2vw;
                        background: rgba(white, 0.1);
                        cursor: pointer;
                        &.pending{
                            animation: 0.4s pending alternate infinite;
                        }
                    }
                    .group_add{
                        width: 3vw;
                        height: 3vw;

                        line-height: 3vw;
                        border-radius: 0.4vw;
                        margin: 0.95vw;
                        margin-bottom: 2vw;
                        text-align: center;
                        //background: rgba(#0074ff, 0.2);
                        border: 0.5px solid rgba(white, 0.5);
                        font-size: 30px;
                        font-weight: 100;
                        color: rgba(white, 0.5);
                        cursor: pointer;
                        transition: 0.1s ease;
                        &:hover{
                            background: rgba(#0074ff, 0.1);
                        }
                    }
                }
            }
            .label{
                background: none;
                margin: 0.2vw;
                text-align: center;
                font-size: 11px;
                width: 8vw;
                border-radius: 0.4vw;
                padding: 0.3vw;
                padding-bottom: 0.5vw;
                font-weight: 300;
                color: white;
                letter-spacing: 0.5px;
            }
        }
        .buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 0.3vw;
            padding-bottom: 0.3vw;
            margin-bottom: 0.5vw;

            button {
                margin: 0.2vw;
            }
        }
    }


    .previews{
        margin-bottom: 1vw;
        //border-bottom: 1px solid white;

        .square{
            width: 5vw;
            height: 5vw;
            margin: 0.5vw;
            margin: 0;
            border-radius: 0.5vw;
        }

        .preview{
            width: 4.5vw;
            height: 4.5vw;
            margin: 0;
            margin-left: 1vw;
            margin-right: 1vw;
            border-radius: 0.5vw;

            //border: 1px solid #00ff77;
            &.incorrect{
                border: 1px solid #ff4040;
            }
        }

        .light{
            border-radius: 20px;
            background: none;

            .light-type{
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: 500;
                border-radius: 5px;
                line-height: 100%;
                padding: 2px 7px 3px 3px;
                background: #00ff77;
                color: black;
                &.incorrect{
                    background: #ff4040;
                    color: white;
                }
            }

            span{
                font-size: 20px;
            }

            .incorrect{
                display: none;
            }

            &.incorrect{
                .correct{
                    display: none;
                }
                .incorrect{
                    display: flex;
                }
            }
        }
    }


    .thumbnails{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1vw;

        canvas{
            width: 4vw;
            height: 4vw;
            border-radius: 0.5vw;
            margin: 0.3vw;
            cursor: pointer;
        }
        .buttons{
            margin-top: 0.5vw;
            justify-content: center;
            display: flex;
            button{
                width: 40%;
                background: none;
                margin: 0.2vw;
                margin-top: 0;
                padding: 0.3vw;
                .material{
                    margin: 0;
                    font-size: 18px;
                }
                &.add{
                    color: #00b3ff;
                    background: rgba(#0074ff, 0.1);
                    &:hover{
                        background: rgba(#0074ff, 0.3);
                    }
                }
                &.del{
                    color: #ff4946;
                    background: rgba(red, 0.1);
                    &:hover{
                        background: rgba(red, 0.3);
                    }
                }
            }

        }
    }

    /*
    &.plu{
        color: #00b3ff;
        //background: rgba(#0074ff, 0.1);
        &:hover{
            background: rgba(#0074ff, 0.3);
        }
    }
    &.min{
        color: #ff4946;
        //background: rgba(red, 0.15);
        &:hover{
            background: rgba(red, 0.3);
        }
    }
    */

    #download{
        position: fixed;
        bottom: 40px;
        right: 40px;
        display: flex;
        align-items: center;
        background: #8400ff;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
        z-index: 3;
        transition: 0.2s ease;

        box-shadow: 0px 5px 10px rgba(black, 0.2);
        span{
            font-size: 18px;
            margin-right: 5px;
            margin-left: -2px;
        }
        h1{
            color: black;
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            color: white;
        }
        &:hover{
            background: #6600c6;
            transform: scale(1.05);
        }
    }

}


@media screen and (max-width: 800px){

    body{
        width: 80vw;
        height: 80vh;
        overflow: hidden;
    }

    #navbar{
        display: none;
    }

    #main{
        display: none;
    }

    img{
        width: 40px;
    }

    #splash{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: black;
        text-align: center;

        h1{
            font-weight: 900;
            font-size: 28px;
            letter-spacing: 1px;
            margin: 0;
            span{
                font-weight: 200;
            }
        }

        h4{
            font-weight: 200;
            letter-spacing: 1px;
            margin-bottom: 50px;
        }

        #footer{
            display: none;
        }

        #start{
            display: none;
        }
    }
}

