body {
  font-family: Manrope, Roboto, sans-serif;
  background: #ccf5e7;
  background: #f6fbff;
  background: #f5f2ff;
  background: black;
  background: #1d0f54;
  color: white;
  -ms-touch-action: none;
      touch-action: none;
}

input {
  font-family: Manrope, Roboto, sans-serif;
  outline: none;
  border: none;
}

select {
  font-family: Manrope, Roboto, sans-serif;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

::-moz-selection {
  background: #ffce00;
  color: black;
}

::selection {
  background: #ffce00;
  color: black;
}

*:focus {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: white;
}

textarea {
  outline: none;
  font-family: sans-serif;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: Manrope, Roboto, sans-serif;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

canvas {
  background: rgba(255, 255, 255, 0.05);
}

canvas.linked {
  border: 1px solid #aa6aff;
}

canvas.active {
  border: 1px solid #00f7ff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c1 {
  background: #0074d9;
}

.c2 {
  background: #ff4126;
}

.c3 {
  background: #2ecc40;
}

.c4 {
  background: #ffdc00;
}

.c5 {
  background: #aaaaaa;
}

.c6 {
  background: #ef11be;
}

.c7 {
  background: #ff841a;
}

.c8 {
  background: #7fdbff;
}

.c9 {
  background: #7c1c28;
}

.c0 {
  background: black;
}

.c10 {
  background: white;
}

@media screen and (min-width: 800px) {
  button {
    padding: 0.2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    color: white;
    border-radius: 0.3vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    font-size: 12px;
    background: rgba(0, 116, 255, 0.5);
  }
  button:hover {
    background: rgba(0, 116, 255, 0.7);
  }
  button.del {
    background: rgba(255, 0, 0, 0.5);
  }
  button.del:hover {
    background: rgba(255, 0, 0, 0.7);
  }
  button.ac {
    background: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-weight: 300;
  }
  button.ac:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  #splash {
    background: white;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
    visibility: hidden;
  }
  #splash.active {
    -webkit-transform: scale(1);
            transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
  #splash h1 {
    font-size: 80px;
    font-weight: 900;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    margin: 0;
  }
  #splash h1 span {
    font-weight: 200;
  }
  #splash #start {
    font-size: 20px;
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 40px;
    margin-bottom: 100px;
  }
  #splash #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    width: 250px;
    height: 70px;
    left: calc(50vw - 125px);
    bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }
  #splash #footer h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-weight: 300;
    margin: 5px;
  }
  #splash #footer h3 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }
  #navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 170px;
    height: 100vh;
    background: #ccf5e7;
    background: #1d0f54;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
  }
  #navbar #mast {
    background: rgba(255, 255, 255, 0.1);
    width: 150px;
    height: 40px;
    margin-top: 13px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #navbar #mast img {
    width: 18px;
    margin-right: 5px;
  }
  #navbar #mast h1 {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    letter-spacing: 0.5px;
  }
  #navbar #mast h1 span {
    font-weight: 100;
  }
  #navbar #log {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 11px;
    width: 150px;
    border-radius: 10px;
    padding: 1vw;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    overflow-y: scroll;
  }
  #navbar #log span {
    font-weight: 900;
  }
  #navbar #id {
    font-size: 14px;
    width: 150px;
    height: 35px;
    background: black;
    border-radius: 5px;
    text-align: center;
    line-height: 33px;
    margin: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ffce00;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #navbar #id:hover {
    font-weight: 600;
  }
  #navbar #menu {
    position: absolute;
    background: black;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    bottom: 45px;
    left: 10px;
    width: 150px;
    border-radius: 10px 10px 0 0;
    overflow-y: scroll;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    height: 0px;
  }
  #navbar #menu p {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
  }
  #navbar #menu p span {
    font-size: 11px;
    background: rgba(255, 206, 0, 0.2);
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
    color: #ffce00;
    font-weight: 100;
  }
  #navbar #menu p:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
  }
  #navbar #menu.active {
    padding-bottom: 10px;
    height: calc(300px);
  }
  .b {
    position: relative;
  }
  .results {
    height: 3vw;
    border-radius: 10px;
    width: 33vw;
    margin-top: 1vw;
    padding-left: 0.3vw;
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .results .res {
    width: 2vw;
    height: 2vw;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 2vw;
    margin: 0.3vw;
    font-size: 14px;
    border-radius: .3vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
  }
  .results .res:hover {
    background: rgba(255, 255, 255, 0.3);
  }
  .it {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4vw;
    height: 3vw;
    background: #404040;
    border-radius: 10px;
    z-index: 3;
    overflow-y: hidden;
    -webkit-box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    overflow: hidden;
  }
  .it .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 4vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    background: #404040;
    cursor: move;
  }
  .it .header h1 {
    width: 4vw;
    text-align: center;
    font-size: 12px;
    line-height: 2vw;
    letter-spacing: 0.5px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 1vw;
    padding: 0;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .it .header:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  .it textarea {
    font-family: 'Source Code Pro', Manrope, sans-serif;
    width: 100%;
    height: 320px;
    padding: 15px;
    margin: auto;
    background: black;
    overflow-y: scroll;
    resize: none;
    color: white;
    outline: none;
    border: none;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.5px;
  }
  .it button {
    background: #0074ff;
    height: 40px;
    width: 100%;
    margin: 0;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    border-radius: 0;
  }
  .it button:hover {
    background: #0048ff;
  }
  .it.active {
    width: 37vw;
    height: 400px;
  }
  .it.active .header {
    height: 40px;
  }
  .it.active .header h1 {
    margin-bottom: 0;
  }
  #main {
    position: fixed;
    top: 0;
    left: 10vw;
    width: 90vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: -1;
  }
  #main #area {
    width: 100vw;
    height: 60vw;
    border-radius: 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .col.left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .col.right {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0.5vw;
    margin-top: 8vw;
  }
  .links .link-btn {
    margin-top: 1vw;
    background: rgba(0, 116, 255, 0.2);
    color: #00b7ff;
  }
  .links .link-btn span {
    font-size: 16px;
  }
  .links .link-btn:hover {
    background: rgba(0, 116, 255, 0.4);
  }
  .links .link-btn.del {
    background: rgba(255, 0, 0, 0.2);
    color: red;
  }
  .links .link-btn.del:hover {
    background: rgba(255, 0, 0, 0.4);
  }
  #row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 95%;
    overflow-x: scroll;
    margin-top: 2vw;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 1vw;
  }
  #row .prob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0.3vw;
    padding: 0.1vw;
    border-radius: 0.8vw;
    cursor: pointer;
  }
  #row .prob .canv {
    width: 4vw;
    height: 4vw;
    margin: 0.2vw;
    border-radius: 0.5vw;
  }
  #row .prob.active {
    background: rgba(0, 247, 255, 0.1);
  }
  #row .prob.active .canv {
    border: 1px solid #00f7ff;
  }
  #ink {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid white;
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  #ink.active {
    display: block;
  }
  .layer {
    display: none;
    border-radius: 1vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.02);
    padding: 0.5vw;
  }
  .layer.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .layer .title {
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.5vw;
    border-radius: 0.5vw;
    margin-top: 0.2vw;
    letter-spacing: 0.5px;
  }
  .layer .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0.5vw;
  }
  .layer .box .panorama {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layer .box .panorama .flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layer .box .panorama .flex canvas {
    width: 18vw;
    height: 18vw;
    margin: 0.5vw;
    border-radius: 0.5vw;
  }
  .layer .box .exp .exp-btn {
    text-align: center;
    height: 1.5vw;
    font-size: 1.2vw;
    line-height: 1vw;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.05);
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
  }
  .layer .box .exp .exp-btn.plu {
    color: #00b3ff;
    background: rgba(0, 116, 255, 0.1);
  }
  .layer .box .exp .exp-btn.plu:hover {
    background: rgba(0, 116, 255, 0.3);
  }
  .layer .box .exp .exp-btn.min {
    color: #ff4946;
    background: rgba(255, 0, 0, 0.15);
  }
  .layer .box .exp .exp-btn.min:hover {
    background: rgba(255, 0, 0, 0.3);
  }
  .layer .box .exp .exp-btn:hover {
    background: rgba(0, 0, 0, 0.15);
  }
  .layer .box .exp p {
    font-size: 14px;
    width: 1vw;
    margin: 0;
    text-align: center;
    border-radius: 0.5vw;
  }
  .layer .box .exp.v {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layer .box .exp.v p {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }
  .layer .box .exp.h {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layer .box .exp.h p {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
  .layer .toolbar {
    background: rgba(0, 0, 0, 0.2);
    padding: 0.5vw;
    border-radius: 0.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .layer .toolbar .colors {
    margin-left: 0.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layer .toolbar .colors .color {
    width: 1.3vw;
    height: 1.3vw;
    margin: 0.2vw;
    border-radius: 1vw;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .layer .toolbar .colors .color:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .layer .toolbar .colors .color.active {
    border: 2px solid white;
  }
  .layer .toolbar .colors img {
    width: 100%;
    border: 1px solid red;
    border-radius: 1vw;
  }
  @-webkit-keyframes pending {
    0% {
      border: 2px solid #a0cbff;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      border: 2px solid #0074ff;
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
  }
  @keyframes pending {
    0% {
      border: 2px solid #a0cbff;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      border: 2px solid #0074ff;
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
  }
  .layer .items {
    width: 11.7vw;
    height: 28vw;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.2);
    margin: 0.5vw;
    padding: 0.5vw;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layer .items .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 10.8vw;
    padding: 0.5vw;
    padding-bottom: 0.3vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0.3vw;
    margin-bottom: 0.5vw;
  }
  .layer .items .group .shelf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .layer .items .group .shelf .elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layer .items .group .shelf .elem .select {
    width: 4.5vw;
    margin-bottom: 2px;
    padding: 2px;
    background: none;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 10px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    border-radius: 10px;
    cursor: pointer;
  }
  .layer .items .group .shelf .elem .select:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  .layer .items .group .shelf .item {
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 0.4vw;
    margin: 0.2vw;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
  .layer .items .group .shelf .item.pending {
    -webkit-animation: 0.4s pending alternate infinite;
            animation: 0.4s pending alternate infinite;
  }
  .layer .items .group .shelf .group_add {
    width: 3vw;
    height: 3vw;
    line-height: 3vw;
    border-radius: 0.4vw;
    margin: 0.9vw;
    margin-bottom: 2vw;
    text-align: center;
    background: rgba(0, 116, 255, 0.2);
    font-size: 30px;
    font-weight: 200;
    color: #00b7ff;
    cursor: pointer;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
  }
  .layer .items .group .shelf .group_add:hover {
    background: rgba(0, 116, 255, 0.3);
  }
  .layer .items .label {
    background: none;
    margin: 0.2vw;
    text-align: center;
    font-size: 12px;
    width: 8vw;
    border-radius: 0.4vw;
    padding: 0.2vw;
    font-weight: 500;
    color: white;
    letter-spacing: 0.5px;
  }
  .layer .buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    margin-bottom: 0.5vw;
  }
  .layer .buttons button {
    margin: 0.2vw;
  }
  .square {
    width: 7vw;
    height: 7vw;
    margin: 0.5vw;
    margin: 0;
    border-radius: 0.5vw;
  }
  .previews {
    margin-bottom: 2vw;
  }
  .preview {
    width: 6vw;
    height: 6vw;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 0.5vw;
    border: 1px solid #00ff77;
  }
  .preview.incorrect {
    border: 1px solid #ff4040;
  }
  .thumbnails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1vw;
  }
  .thumbnails canvas {
    width: 4vw;
    height: 4vw;
    border-radius: 0.5vw;
    margin: 0.3vw;
    cursor: pointer;
  }
  .thumbnails .buttons {
    margin-top: 0.5vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #download {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #8400ff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    z-index: 3;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  #download span {
    font-size: 18px;
    margin-right: 5px;
    margin-left: -2px;
  }
  #download h1 {
    color: black;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: white;
  }
  #download:hover {
    background: #6600c6;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media screen and (max-width: 800px) {
  body {
    width: 80vw;
    height: 80vh;
    overflow: hidden;
  }
  #navbar {
    display: none;
  }
  #main {
    display: none;
  }
  img {
    width: 40px;
  }
  #splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: black;
    text-align: center;
  }
  #splash h1 {
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 1px;
    margin: 0;
  }
  #splash h1 span {
    font-weight: 200;
  }
  #splash h4 {
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 50px;
  }
  #splash #footer {
    display: none;
  }
  #splash #start {
    display: none;
  }
}

.light {
  background: #eeeaff;
}

.light button {
  background: #0074ff;
}

.light button:hover {
  background: #0015ff;
}

.light button.del {
  background: #ff0000;
}

.light button.del:hover {
  background: #d31111;
}

.light #navbar {
  background: none;
  color: black;
}

.light #navbar #mast {
  color: black;
  background: white;
}

.light #navbar #id {
  color: black;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.5);
}

.light canvas {
  background: rgba(255, 255, 255, 0.4);
}

.light canvas.active {
  border: 2px solid red;
}

.light #row .prob.active {
  background: rgba(255, 0, 0, 0.3);
}

.light #row .prob.active .canv {
  border: 2px solid red;
}

.light .links #link {
  color: #0074ff;
}

.light .ac {
  color: red;
  border: 1px solid red;
  font-weight: 700;
  background: white;
}

.light .ac:hover {
  background: rgba(255, 0, 0, 0.1);
}

.light .layer .box .title {
  color: black;
  background: rgba(0, 0, 0, 0.08);
}

.light .layer .box .exp {
  color: black;
}

.light .layer .box .exp .exp-btn {
  font-weight: 700;
}

.light .layer .box .exp .exp-btn.plu {
  color: #0074ff;
}

.light .layer .box .exp .exp-btn.min {
  color: red;
}

.light .layer .items {
  background-color: white;
}

.light .layer .items .group {
  background: #e6ebf1;
}

.light .layer .items .group .shelf .group_add {
  background: #b7d8ff;
  color: #0074ff;
}

.light .layer .items .group .shelf .group_add:hover {
  background: #a0cbff;
}

.light .layer .items .group .label {
  color: black;
}

.light .exp-btn {
  color: black;
}

#loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
}

.lds-ellipsis div {
  position: absolute;
  top: 15px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
  animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
    transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
    transform: translate(24px, 0);
  }
}
/*# sourceMappingURL=style.css.map */