body {
  font-family: Manrope, Roboto, sans-serif;
  background: #ccf5e7;
  background: #f6fbff;
  background: #f5f2ff;
  background: #0f0a1e;
  color: white;
  -ms-touch-action: none;
      touch-action: none;
}

input {
  font-family: Manrope, Roboto, sans-serif;
  outline: none;
  border: none;
}

select {
  font-family: Manrope, Roboto, sans-serif;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

::-moz-selection {
  background: #ffce00;
  color: black;
}

::selection {
  background: #ffce00;
  color: black;
}

*:focus {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: white;
}

textarea {
  outline: none;
  font-family: sans-serif;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: Manrope, Roboto, sans-serif;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

canvas {
  background: rgba(255, 255, 255, 0.05);
}

canvas.linked {
  border: 1px solid #aa6aff;
}

canvas.active {
  border: 1px solid #00f7ff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c1 {
  background: #0074d9;
}

.c2 {
  background: #ff4126;
}

.c3 {
  background: #2ecc40;
}

.c4 {
  background: #ffdc00;
}

.c5 {
  background: #aaaaaa;
}

.c6 {
  background: #ef11be;
}

.c7 {
  background: #ff841a;
}

.c8 {
  background: #7fdbff;
}

.c9 {
  background: #7c1c28;
}

.c0 {
  background: black;
}

.c10 {
  background: white;
}

@media screen and (min-width: 800px) {
  button {
    padding: 0.2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    color: white;
    border-radius: 0.4vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    font-size: 12px;
    background: #0074ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  button .material {
    font-size: 15px;
    margin-left: -2px;
    margin-right: 3px;
  }
  button:hover {
    background: #0048e4;
  }
  button.del {
    background: #fa1b4f;
  }
  button.del:hover {
    background: #c90909;
  }
  button.ac {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: 300;
  }
  button.ac:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  #splash {
    background: white;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
    visibility: hidden;
  }
  #splash.active {
    -webkit-transform: scale(1);
            transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
  #splash h1 {
    font-size: 80px;
    font-weight: 900;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    margin: 0;
  }
  #splash h1 span {
    font-weight: 200;
  }
  #splash #start {
    font-size: 20px;
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 40px;
    margin-bottom: 100px;
  }
  #splash #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    width: 250px;
    height: 70px;
    left: calc(50vw - 125px);
    bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }
  #splash #footer h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-weight: 300;
    margin: 5px;
  }
  #splash #footer h3 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }
  #navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 170px;
    height: 100vh;
    background: #ccf5e7;
    background: #150f28;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
  }
  #navbar #lab {
    width: 170px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 0px;
  }
  #navbar #mast {
    width: 140px;
    height: 45px;
    margin-top: 10px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navbar #mast img {
    width: 22px;
    margin-right: 8px;
    margin-top: 1px;
  }
  #navbar #mast h1 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.5px;
  }
  #navbar #mast h1 span {
    color: rgba(255, 255, 255, 0.6);
  }
  #navbar #log {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 160px;
    padding: 10px;
    padding-right: 15px;
    font-weight: 300;
    margin: 0;
    margin-top: 5px;
    overflow-y: scroll;
  }
  #navbar #log h3 {
    margin: 0;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.4px;
    font-size: 12px;
    font-weight: 600;
  }
  #navbar #log p {
    margin: 0;
    margin-bottom: 25px;
    line-height: 145%;
    font-size: 11px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.5);
  }
  #navbar #log p span {
    color: rgba(255, 255, 255, 0.7);
  }
  #id {
    position: fixed;
    top: 10px;
    right: 5px;
    font-size: 14px;
    width: 150px;
    height: 35px;
    background: #2f2f2f;
    border-radius: 5px;
    text-align: center;
    line-height: 33px;
    margin: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ffce00;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #id:hover {
    font-weight: 600;
  }
  #menu {
    position: fixed;
    top: 55px;
    right: 15px;
    background: #2f2f2f;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    width: 150px;
    border-radius: 0 0 5px 5px;
    overflow-y: scroll;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    height: 0px;
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  }
  #menu p {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
  }
  #menu p span {
    font-size: 11px;
    background: rgba(255, 206, 0, 0.2);
    padding: 5px;
    margin-right: 10px;
    border-radius: 3px;
    color: #ffce00;
    font-weight: 100;
  }
  #menu p:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
  }
  #menu.active {
    padding-bottom: 10px;
    height: calc(300px);
  }
  .b {
    position: relative;
  }
  .json {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1vw;
  }
  .json button {
    height: 2.5vw;
    width: 4vw;
    border-radius: 0.5vw;
  }
  .json .results {
    height: 2.5vw;
    border-radius: 0.5vw;
    width: 33vw;
    margin-right: 0.5vw;
    padding-left: 0.3vw;
    background: rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .json .results .res {
    width: 2vw;
    height: 2vw;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 2vw;
    margin: 0.3vw;
    font-size: 14px;
    border-radius: .3vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
  }
  .json .results .res:hover {
    background: rgba(255, 255, 255, 0.3);
  }
  .it {
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    z-index: 5;
    overflow-y: hidden;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    overflow: hidden;
    width: 37.5vw;
    height: 400px;
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  .it .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 40px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: move;
  }
  .it .header h1 {
    width: 4vw;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .it .header span {
    font-size: 20px;
    margin-right: 10px;
  }
  .it .header:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  .it textarea {
    font-family: 'Source Code Pro', Manrope, sans-serif;
    width: 100%;
    height: 280px;
    padding: 15px;
    margin: auto;
    background: none;
    overflow-y: scroll;
    resize: none;
    color: #00ff77;
    outline: none;
    border: none;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  .it button {
    position: absolute;
    bottom: 35px;
    left: 5%;
    height: 36px;
    width: 90%;
    background: #0074ff;
    border-radius: 0.5vw;
    line-height: 60%;
  }
  .it button:hover {
    background: #0048ff;
  }
  .it .bar {
    position: absolute;
    bottom: 15px;
    left: 40%;
    height: 5px;
    width: 20%;
    margin: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  .it.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  #main {
    position: fixed;
    top: 0;
    left: 10vw;
    width: 90vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: -1;
  }
  #main #area {
    width: 100vw;
    height: 60vw;
    border-radius: 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .col.left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .col.right {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0.5vw;
    margin-top: 8vw;
  }
  .links .link-btn {
    margin-top: 1vw;
    background: rgba(0, 116, 255, 0.2);
    color: #00b7ff;
  }
  .links .link-btn span {
    font-size: 16px;
  }
  .links .link-btn:hover {
    background: rgba(0, 116, 255, 0.4);
  }
  .links .link-btn.del {
    background: rgba(255, 0, 0, 0.2);
    color: red;
  }
  .links .link-btn.del:hover {
    background: rgba(255, 0, 0, 0.4);
  }
  #row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 95%;
    overflow-x: scroll;
    margin-top: 2vw;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 1vw;
  }
  #row .prob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0.3vw;
    padding: 0.1vw;
    border-radius: 0.8vw;
    cursor: pointer;
  }
  #row .prob .canv {
    width: 4vw;
    height: 4vw;
    margin: 0.2vw;
    border-radius: 0.5vw;
  }
  #row .prob.active {
    background: rgba(0, 247, 255, 0.1);
  }
  #row .prob.active .canv {
    border: 1px solid #00f7ff;
  }
  #ink {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid white;
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  #ink.active {
    display: block;
  }
  .layer {
    display: none;
    border-radius: 1vw;
    background: rgba(255, 255, 255, 0.12);
    padding: 0.5vw;
  }
  .layer.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .layer .title {
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.5vw;
    border-radius: 0.5vw;
    margin-top: 0.2vw;
    letter-spacing: 0.5px;
  }
  .layer .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0.5vw;
  }
  .layer .box .panorama {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layer .box .panorama .flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layer .box .panorama .flex canvas {
    width: 18vw;
    height: 18vw;
    margin: 0.5vw;
    border-radius: 0.5vw;
    -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
            box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
  }
  .layer .box .exp {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  .layer .box .exp .exp-btn {
    text-align: center;
    height: 1.5vw;
    font-size: 1.2vw;
    line-height: 1vw;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.05);
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
  }
  .layer .box .exp .exp-btn.plu {
    color: #00b3ff;
  }
  .layer .box .exp .exp-btn.plu:hover {
    background: rgba(0, 116, 255, 0.3);
  }
  .layer .box .exp .exp-btn.min {
    color: #ff4946;
  }
  .layer .box .exp .exp-btn.min:hover {
    background: rgba(255, 0, 0, 0.3);
  }
  .layer .box .exp .exp-btn:hover {
    background: rgba(0, 0, 0, 0.15);
  }
  .layer .box .exp p {
    font-size: 12px;
    width: 1vw;
    margin: 0;
    text-align: center;
    border-radius: 0.5vw;
  }
  .layer .box .exp.v {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layer .box .exp.v p {
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
  }
  .layer .box .exp.h {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layer .box .exp.h p {
    margin-left: 0.2vw;
    margin-right: 0.2vw;
  }
  .layer .toolbar {
    background: rgba(0, 0, 0, 0.2);
    padding: 0.5vw;
    border-radius: 0.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .layer .toolbar .colors {
    margin-left: 0.6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layer .toolbar .colors .color {
    width: 1.2vw;
    height: 1.2vw;
    margin: 0.2vw;
    border-radius: 1vw;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .layer .toolbar .colors .color:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .layer .toolbar .colors .color.active {
    border: 2px solid white;
  }
  .layer .toolbar .colors img {
    width: 100%;
    border: 1px solid red;
    border-radius: 1vw;
  }
  @-webkit-keyframes pending {
    0% {
      border: 2px solid #a0cbff;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      border: 2px solid #0074ff;
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
  }
  @keyframes pending {
    0% {
      border: 2px solid #a0cbff;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      border: 2px solid #0074ff;
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
  }
  .layer .items {
    width: 11.7vw;
    height: 28vw;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.05);
    margin: 0.7vw;
    padding: 0.5vw;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    border-radius: 0.7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layer .items .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 10.8vw;
    padding: 0.5vw;
    padding-bottom: 0.3vw;
    background: rgba(0, 0, 0, 0.2);
    margin: 0.3vw;
    margin-bottom: 0.3vw;
    border-radius: 0.5vw;
  }
  .layer .items .group .shelf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .layer .items .group .shelf .elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layer .items .group .shelf .elem .select {
    width: 4.5vw;
    margin-bottom: 2px;
    padding: 2px;
    background: none;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 10px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    border-radius: 10px;
    cursor: pointer;
  }
  .layer .items .group .shelf .elem .select:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  .layer .items .group .shelf .item {
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 0.4vw;
    margin: 0.2vw;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
  .layer .items .group .shelf .item.pending {
    -webkit-animation: 0.4s pending alternate infinite;
            animation: 0.4s pending alternate infinite;
  }
  .layer .items .group .shelf .group_add {
    width: 3vw;
    height: 3vw;
    line-height: 3vw;
    border-radius: 0.4vw;
    margin: 0.95vw;
    margin-bottom: 2vw;
    text-align: center;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    font-size: 30px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
  }
  .layer .items .group .shelf .group_add:hover {
    background: rgba(0, 116, 255, 0.1);
  }
  .layer .items .label {
    background: none;
    margin: 0.2vw;
    text-align: center;
    font-size: 11px;
    width: 8vw;
    border-radius: 0.4vw;
    padding: 0.3vw;
    padding-bottom: 0.5vw;
    font-weight: 300;
    color: white;
    letter-spacing: 0.5px;
  }
  .layer .buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    margin-bottom: 0.5vw;
  }
  .layer .buttons button {
    margin: 0.2vw;
  }
  .previews {
    margin-bottom: 1vw;
  }
  .previews .square {
    width: 5vw;
    height: 5vw;
    margin: 0.5vw;
    margin: 0;
    border-radius: 0.5vw;
  }
  .previews .preview {
    width: 4.5vw;
    height: 4.5vw;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 0.5vw;
  }
  .previews .preview.incorrect {
    border: 1px solid #ff4040;
  }
  .previews .light {
    border-radius: 20px;
    background: none;
  }
  .previews .light .light-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    line-height: 100%;
    padding: 2px 7px 3px 3px;
    background: #00ff77;
    color: black;
  }
  .previews .light .light-type.incorrect {
    background: #ff4040;
    color: white;
  }
  .previews .light span {
    font-size: 20px;
  }
  .previews .light .incorrect {
    display: none;
  }
  .previews .light.incorrect .correct {
    display: none;
  }
  .previews .light.incorrect .incorrect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .thumbnails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1vw;
  }
  .thumbnails canvas {
    width: 4vw;
    height: 4vw;
    border-radius: 0.5vw;
    margin: 0.3vw;
    cursor: pointer;
  }
  .thumbnails .buttons {
    margin-top: 0.5vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .thumbnails .buttons button {
    width: 40%;
    background: none;
    margin: 0.2vw;
    margin-top: 0;
    padding: 0.3vw;
  }
  .thumbnails .buttons button .material {
    margin: 0;
    font-size: 18px;
  }
  .thumbnails .buttons button.add {
    color: #00b3ff;
    background: rgba(0, 116, 255, 0.1);
  }
  .thumbnails .buttons button.add:hover {
    background: rgba(0, 116, 255, 0.3);
  }
  .thumbnails .buttons button.del {
    color: #ff4946;
    background: rgba(255, 0, 0, 0.1);
  }
  .thumbnails .buttons button.del:hover {
    background: rgba(255, 0, 0, 0.3);
  }
  /*
    &.plu{
        color: #00b3ff;
        //background: rgba(#0074ff, 0.1);
        &:hover{
            background: rgba(#0074ff, 0.3);
        }
    }
    &.min{
        color: #ff4946;
        //background: rgba(red, 0.15);
        &:hover{
            background: rgba(red, 0.3);
        }
    }
    */
  #download {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #8400ff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    z-index: 3;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  #download span {
    font-size: 18px;
    margin-right: 5px;
    margin-left: -2px;
  }
  #download h1 {
    color: black;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: white;
  }
  #download:hover {
    background: #6600c6;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media screen and (max-width: 800px) {
  body {
    width: 80vw;
    height: 80vh;
    overflow: hidden;
  }
  #navbar {
    display: none;
  }
  #main {
    display: none;
  }
  img {
    width: 40px;
  }
  #splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: black;
    text-align: center;
  }
  #splash h1 {
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 1px;
    margin: 0;
  }
  #splash h1 span {
    font-weight: 200;
  }
  #splash h4 {
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 50px;
  }
  #splash #footer {
    display: none;
  }
  #splash #start {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */